* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(135, 208, 239, 0.455);
}

table thead tr th {
    padding: 10px 0;
    width: 240px;

}


table h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1{
    margin-top: 55px;
    text-align: center;
    margin-bottom: 10px;
    background: rgb(120, 160, 235);
}

.Form1{
    display: grid;
    grid-template-columns: 655px 1fr;
    grid-gap: 20px;
}

.Form1_full{
    margin-left: 103px;
}

.Form1_full input{
    width: 577px;
    height: 35px;
}

.Form2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px 1fr;
    grid-gap: 20px;
}

.Form2_full{
    margin-left: 103px;
}

.Form2_full input{
    width: 180px;
    height: 35px;
}

