.listuser {
  border-collapse: collapse;
  width: 100%;
}

.listuser thead tr {
  background-color: gray;
}

.listuser thead tr th {
  padding: 10px 5px;
  color: white;
}

.listuser tbody tr td {
  text-align: center;
}
