.article {
  max-width: 1280px;
  margin: 20px auto 0 auto;
}

.Title h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

hr {
  margin-bottom: 10px;
}

.blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.full-block img {
  width: 100%;
  height: 60%;
  border-radius: 6px;
  vertical-align: middle;
  object-fit: cover;
}

.pay-block {
  margin: auto;
  max-width: 300px;
  height: 500px;
  overflow-y: scroll;
}

.pay-block::-webkit-scrollbar {
  width: 10px;
}

.pay-block::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border-radius: 5px;
}

.gap {
  margin-bottom: 20px;
}

.pay-block .imgBlog {
  height: 150px;
}

.imgBlog a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.imgBlog a img {
  height: 100%;
}

.full-block .location a {
  text-decoration: none;
}

.pay-block .location a {
  font-size: 0.8vw;
}

.full-block .location a h2:hover {
  color: rgb(67, 182, 231);
}

.full-block .location h2 {
  color: rgb(10, 10, 10);
  margin: 5px 0 5px 0;
}

footer hr {
  height: 4px;
  margin-top: 20px;
  background-color: #1da1f2;
}

.containerBlog {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px 10px;
}

.blogs {
  max-width: 800px;
  margin: 0 auto;
}

.payBlogs h3 {
  text-align: center;
  background-color: lightgreen;
  padding: 12px 0;
  user-select: none;
  font-weight: bold;
}
