* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&family=Poppins:wght@300&display=swap");

body {
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.fa-arrow-left {
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 20px;
}

.container {
  position: relative;
  max-width: 450px;
  background: #fff;
  padding: 60px 40px;
  margin: 32px;
}

h2 {
  font-size: 40px;
  margin-bottom: 60px;
  font-family: "Monsterrat", sans-serif;
}

.input-field,
form .button {
  position: relative;
  height: 50px;
  width: 100%;
}

form .button {
  margin: 25px 0;
}

.input-field {
  margin: 50px 0;
}

.err {
  font-weight: bold;
  color: red;
  text-align: center;
}

.difference {
  margin-top: 10px;
}

.input-field input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.4s;
  border-radius: 5px;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
  font-size: 19px;
}
.input-field input:focus,
.capcha .capcha-form input:focus {
  border: 2px solid #1da1f2;
  box-shadow: 0 0 10px #1da1f2;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background: #fff;
  font-size: 16px;
  transition: 0.3s;
  /* display: block; */
}

.forgot {
  margin-top: -20px;
  text-align: left;
}

.forgot a,
.signin a {
  color: rgb(83, 80, 80);
  text-decoration: none;
}

.forgot a:hover,
.signin a:hover {
  color: red;
  text-decoration: underline;
}

.button button {
  position: relative;
  background: -webkit-linear-gradient(right, #00dbde, #fc00ff);
  color: #000;
  width: 100%;
  height: 90%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  transition: 1s;
}

.button a {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

.button button:hover {
  /* letter-spacing: 5px; */
  background: -webkit-linear-gradient(left, #00dbde, #fc00ff);
  /* transition: 0.5s; */
  box-shadow: 0 0 20px var(--clr);
}

.register,
.signin {
  text-align: left;
  margin-top: -20px;
}

.input-field span {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #8e44ad;
  cursor: pointer;
  display: none;
}

.input-field input:valid ~ span {
  display: block;
}

.input-field span i.hide-btn::before {
  content: "\f070";
}

.capcha {
  text-align: left;
  color: gray;
  font-size: 19px;
}

.capcha .capcha-form input {
  height: 50px;
  width: 90%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.4s;
  border-radius: 5px;
}

.capcha-form {
  display: flex;
}

.capcha-form button {
  width: 100%;
  max-width: 50px;
}

.preview {
  width: 100%;
  border: 1px dashed gray;
  height: 50px;
  text-align: center;
  background: rgb(242, 234, 234);
  letter-spacing: 5px;
}

.gender {
  text-align: left;
  border: 1px solid silver;
  width: 100%;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  color: gray;
}

.gender input {
  margin-right: 5px;
}

.gender label {
  margin-right: 15px;
}

.pick {
  /* position: absolute; */
  /* top: 50%;
    left: 15px; */
  /* transform: translateY(-50%); */
  /* pointer-events: none; */
  color: gray;
  font-size: 19px;
  margin-right: 45px;
}
