* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  /* max-width: 940px; */
  display: flex;
  margin: auto;
  max-width: 1024px;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.box-img {
  width: 215px;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.tour ul li {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 25px;
  margin: 20px 0px;
}

.blogs ul li {
  list-style: none;
  margin-bottom: 20px;
  max-width: 200px;
}

.blogs ul li a img {
  width: 200px;
}

.box-img {
  max-width: 215px;
}
.box-img img {
  width: 100%;
  vertical-align: middle;
}
.pagination-customer {
  margin: 20px;
  text-align: center !important;
  margin-bottom: 80px;
}
.sidebar-box-content.type-top-tour li {
  padding: 0px;
  border: 0px;
}
.list-group-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sidebar-box-content ul li {
  list-style: none;
  display: block;
  line-height: 30px;
  padding: 0px 10px;
  font-size: 16px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: disc;
}
.sidebar-box-content {
  border: 1px solid #e6e6e6;
  font-size: 14px;
  color: #565656;
  font-family: "r_conde_regular";
  margin-bottom: 20px;
}
.sidebar-box-content.type-top-tour h4 {
  font-size: 14px;
  line-height: 1.4;
  color: #000;
}
h4,
.h4 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.sidebar-box-content ul li a {
  display: block;
  color: #565656;
  font-family: "r_conde_regular";
  text-decoration: none;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.sidebar-box-content ul li {
  list-style: none;
  display: block;
  line-height: 30px;
  padding: 0px 10px;
  font-size: 16px;
}
.box-img {
  position: relative;
}
.box-img {
  width: 215px;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.note-special {
  z-index: 10;
  font-size: 15px;
  font-family: "r_conde_regular";
  text-align: center;
  position: absolute;
  color: #fff;
  margin: 0 0 0 -10px;
  background-color: #00b904;
  top: 10px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 12%), 0 0 2px rgb(0 0 0 / 24%);
  padding: 5px 10px 5px 10px;
  right: 0px;
  margin-right: -10px;
}
.box-img button {
  z-index: 100;
  top: 40%;
  left: 40%;
  border: 0px;
  box-shadow: none;
  background: #f10000;
  font-size: 14px;
  color: #ffffff;
  font-family: "r_conde_bold";
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}
.category-list-tour.category-box-list-default .box-img .note-special:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
  border-width: 0px 0px 10px 10px;
  border-left-color: #006402;
  right: 0;
}
.category-box-list-default.category-box-sidebar-default
  .category-box-list-default-inner
  ul
  li
  h3 {
  font-family: "r_conde_regular";
  font-size: 20px;
  margin-top: 0px;
}
.category-list-tour.category-box-list-default .box-title-content h3 {
  font-size: 18px;
  font-weight: normal;
  font-family: "r_conde_regular";
  text-align: left;
  margin-top: 0px;
  min-height: 38px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: 10px;
}
.title-h3 a {
  font-size: 22px;
}
.category-list-tour.category-box-list-default .box-summary-content-tour {
  font-size: 14px;
  color: #ccc;
  font-family: "r_conde_regular";
  min-height: 25px;
}
tbody tr td {
  font-size: 14px;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
table {
  width: 100%;
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
.timre-tour {
  display: flex;
  justify-content: space-between;
}
.timre-tour .icon {
  width: 20px;
}
.sidebar-box-item h3 {
  font-size: 18px;
  background: #0066d9;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-family: "r_conde_regular";
  line-height: 1.3;
  text-align: center;
  padding: 10px 0px;
  font-weight: 500;
}
.list-group-item {
  margin-top: 0px;
}
.box-price-promotion-tour {
  margin-top: 10px;
}
.box-price-promotion-tour {
  position: relative;
}
.arrow-left {
  background: #ff0000;
  font-size: 16px;
  font-family: "r_conde_bold";
  color: #fff;
  line-height: 24px;
  padding: 0px 5px;
  display: table-cell;
  border-radius: 3px;
  position: absolute;
  left: 60%;
  top: 10px;
}
.btn-readmore {
  position: absolute;
  bottom: 5px;
  right: 0px;
  padding: 3px 15px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-success {
  background-color: #5cb85c;
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  color: #fff;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.box-price-promotion-tour a {
  color: white;
}
.box-price-promotion-tour span {
  display: block;
  color: #fc0309;
  font-size: 24px;
  font-weight: bold;
}
.box-price-promotion-tour del {
  font-size: 18px;
  color: #bcbfc4;
}

.tour {
  padding-top: 0px;
}

.tour h1 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
  color: #0066d9;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.icon {
  width: 20px;
}

.list-extra-services li img {
  vertical-align: middle;
}

.iconService {
  width: 40px;
}

.titleBlog {
  font-weight: bold;
}
