* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr:rgb(248, 248, 248);
    --bodyclr:#E4E9F7;
}

main {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    max-width: 1200px;
    margin: 0 auto;
}

form {
    margin-top: 50px;
    display: flex;
    gap: 32px;
}
body{
    background: var(--bodyclr);
}
.user-img img {
    width: 100%;
    max-width: 100px;
    display: inline-block;
    margin-left: 50px;
}
.account,.change,.history {
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    border: none;
    padding: 10px;
    box-shadow: 0 0 10px silver;
    border-radius: 5px;
    background: #fff;
}
.user-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.change-img button{
    padding: 8px;
    background: rgb(155, 155, 231);
    color: #fff;
    border:none;
    border-radius: 5px;
}
/* .change-img label{
    margin-bottom: 100px;
} */

.change-pass input:focus,.user .infomation input:focus{
    border: 1px solid #1DA1F2;
    box-shadow: 0 0 5px #1DA1F2;
}
.change-img input{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.account h3,.change h3,.history h3{
    background: rgb(155, 155, 231);
    max-width: 200px;
    padding: 7px;
    color: #fff;
    margin-left: -10px;
}

.user-img {
    text-align: center;
    margin: 30px;
}
/* .change-img{
    margin: 30px 0;
} */
.user,.change-img label,.change-pass label {
    /* display: inline-block;
    cursor: default; */
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: inherit;
}
.user label{
    display: inline-block;
   
}
.user .infomation input{
    width: 100%;
    height: 40px;
    background: #eceef1 ;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 15px;
    outline: none;
}
.info label,.change-img label,.change-pass label{
    margin-bottom: 10px; 
    font-weight: 600;
    margin-left: 10px;
}
.info{
    margin-bottom: 25px;
   
}

.infomation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.update{
    text-align: center;
}
.update a button{
    width: 20%;
    height: 40px;
    background: rgb(155, 155, 231);
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
}
.change-pass input{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    /* background: #eceef1 ; */
    border: 1px solid silver;
    border-radius: 5px;
    /* font-size: 20px; */
    padding: 10px 15px;
    outline: none;
}
.h3-change{
    margin-bottom: 10px;
}
.new-pass input{
    margin-top: 10px;
    margin-bottom: 20px;
}
.change-pass button{
    background: rgb(155, 155, 231);
    width: 100%;
    border: none;
    height: 40px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
}
.change-pass button i{
    margin-right: 5px;
}
.history{
    margin: 30px 0 50px 0;
    overflow-y: scroll;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); */
    
}
.history table{
    margin: 20px 0 50px 0;
    width: 100%;
}
thead,th,tr,td{
    border: 1px solid silver;
    
    /* text-align: left; */
}
table{
    border-collapse: collapse;
    
}
td{
    height: 30px;
    /* border: 1px solid silver; */
    text-align: center;
}
th{
    background: #00bcd4;
    color: #fff;
    height: 50px;
}
tr th:nth-child(1){
    width: 60px;
    background: #03707d;
}
.history::-webkit-scrollbar{
    width: 0 !important;
    display: none;
}
