:poot {
  --main-color: #6dbfe2;
  --subtext: "open-box, sans-setif";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
}

.full_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.logo img {
  width: 120px;
}

.menu ul li:not(li:first-child) {
  margin-left: 15px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(54, 52, 52);
}

.menu ul li a:hover {
  color: rgb(73, 138, 236);
  text-decoration: underline;
}

.icon-1 {
  display: inline-block;
  position: relative;
  text-align: right;
}

.icon-1 i {
  font-size: 20px;
  cursor: pointer;
}

.drop {
  position: absolute;
  text-align: center;
  background-color: lightblue;
  right: 0;
  visibility: hidden;
}

.drop a {
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
  font-weight: bold;
}

.drop a:hover {
  background-color: #1da1f2;
  color: #ffffff;
}

.icon-1:hover > .drop {
  visibility: visible;
}

.banner img {
  width: 100%;
  height: 100%;
  max-height: 450px;
}

.search {
  display: flex;
  width: 100%;
  margin: auto;
  background: rgb(103, 200, 242);
  padding: 20px 0;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.full-search h3 {
  margin-left: 54px;
  color: white;
}

.full-search > input {
  font-size: 20px;
  border-radius: 23px;
  border: 1px solid rgb(103, 200, 242);
  padding: 5px 15px;
  color: rgba(42, 39, 39, 0.575);
  width: 100%;
  background-color: #ffffff;
}

.full-search .search-item {
  font-size: 20px;
  border-radius: 23px;
  border: 1px solid rgb(103, 200, 242);
  padding: 5px 15px;
  color: rgba(42, 39, 39, 0.575);
  width: 100%;
  background-color: #ffffff;
}

.full-search input {
  border: 0px;
  outline: none;
}

/* .search .full-search input:focus {
  border: 2px solid #1da1f2;
  box-shadow: 0 0 10px #1da1f2;
} */

.full-search {
  /* display: flex; */
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.search button {
  border-radius: 23px;
  border: 3px solid white;
  width: 150px;
  height: 40px;
  color: white;
  background: rgba(255, 255, 255, 0);
  font-size: 20px;
  margin-top: 15px;
}

h2 {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 10px;
}

/* -------nice-place------ */
.nice-place {
  padding: 20px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  max-width: 1024px;
  margin: auto;
}
.about-content-right button {
  height: 30px;
  width: 100px;
  background-color: #63b8e1;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5 ease;
}
.btn:hover {
  background-color: tomato;
}
.h1-style {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #63b8e1;
  position: relative;
}

.h1-style::before {
  position: absolute;
  content: "";
  height: 5px;
  width: 150px;
  background-color: #63b8e1;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.h1-style::after {
  position: absolute;
  content: "\2665";
  width: 40px;
  height: 20px;
  color: red;
  background-color: #fff;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}

/*----------Nice Place---------- */
.nice-place-item {
  width: 30%;
  height: 400px;
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.nice-place-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: 0.2s linear;
}

.nice-place-item:hover a img {
  filter: blur(1px) contrast(1) brightness(0.5);
}

.nice-place-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  opacity: 0;
  transition: all 0.3s linear;
}

.nice-place-text h2 {
  text-align: center;
}

.nice-place-text h2 a {
  color: #63b8e1;
}

.nice-place-item:hover .nice-place-text {
  opacity: 1;
  transform: translate(-50%, -50%);
}

/* -----------Tout----------- */
.tour {
  padding: 100px 0;
}
.tour-content button {
  height: 30px;
  width: 100px;
  background-color: #63b8e1;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5 ease;
}
.tour-content-item-img {
  width: 50%;
  height: 300px;
}
.tour-content-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tour-content-item-text {
  width: 50%;
  padding: 20px 0 0 50px;
}
.tour-content-item-text h2 {
  font-family: var(--subtext);
  font-weight: normal;
  color: var(--main-color);
}
.tour-content-item-text P {
  font-size: 18px;
  margin: 20px 0;
  font-family: var(--subtext);
}
.tour-content-item {
  box-shadow: 2px 2px 10px Orgba(0, 0, 0, 0.2);
  margin-bottom: 12px;
}
.tour-content-item:nth-child(even) {
  flex-direction: row-reverse;
}

footer hr {
  height: 4px;
  margin-top: 20px;
  background-color: #1da1f2;
}

.full-footer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 680px 350px 1fr;
}
.footer1 p {
  padding: 5px;
}
.footer1 h4 {
  color: #1da1f2;
}
